
	<div class="container" style="padding-top: 150px; padding-bottom: 60px;">
        <div class="col-md-6 col-sm-6 offset-md-3">
            	<div style='background-color:#eeefef; padding:15px 20px;'>
            	     <div class='col-md-12'>
                        <div style='margin:0 auto; text-align: center!important;'>
                        <img style='float: right;' src='<?php echo base_url();?>assets/images/dashboard_logo.png' alt='logo' height='32' width='100'/>
                        
                        </div>
                    </div>
                    <div class='col-md-6 col-sm-6 offset-md-4'>
                        <i class='fa fa-check-circle fa-3x' aria-hidden='true' style='color:#f7e590; background-color: #cce7d4; color: #6d9648;'></i>
                    </div>
                    <div class='col-md-12 col-lg-12'>
                        <div>
                         
						 <h5 style='margin-left:70px;'>Account Activation Successful</h5>
                         <p style='font-size: 12px; font-weight: bold;'>Your account is activated. Please login here
                            Login In</p>
							<button type="button" class="btn btn-primary">Log In</button>
                        </div>
                    </div>
              	</div>
		</div>
    </div>